<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registrar</title>
</head>
<body>
	<h2>Registrar</h2>
	<form method="POST">
	    <input name="nome" placeholder="Seu nome"><br>
	    <input name="apelido" placeholder="apelido:"><br>
	    <input name="email" placeholder="Seu email"><br>
	    <input name="senha" placeholder="Senha" type="password"><br>
	    <button type="submit">Registrar</button>
	</form>
	<a href="/login">Voltar para login</a>
</body>
</html>